body {
    background-color: aquamarine;
}

.divsej2 {
    background-color: grey;
    height: 200px;
}

.divTarjetas {
    background-color: lightsalmon;
}

.divTarjetasJSON {
    background-color: blanchedalmond;
}

